#card{
  background: rgb(61, 147, 111);
  width: 280px;
  height: 130px;
  position: relative;
  margin: 5px;
  box-shadow: 1px 1px #888888;
  border-radius: 3px;
}
#card-body{
color:#fff;
font-size: 12px;
margin: 10px 0px 0px 10px;

}
#card-title{
  font-weight: bold;
  color: #fff;
  font-size: 22px;
  margin: 10px 0px 0px 10px;

}
#icon{
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  transition: all 0.5s  ease-in-out;
  font-size: 20px;
}
#card:hover #icon{
  font-size: 30px;
}
#ver-mais{
  text-align: center;
  background: rgb(54, 132, 100);
  width: 100wh;
}
#ver-mais a{
  text-decoration: none;
  color: #fff;
}


.card-fade{
  max-width: 500px;
  max-height: 350px;
  background-color: red;
}