
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700');


body{ font-size: 14px; color: #333; list-style: 26px;font-family: 'Roboto', sans-serif; 
background: url(../img/back.jpg); background-position: center center; background-size: cover;
}

/** ======================  base css ==============================**/

a:hover{ text-decoration: none; }
.title{
  /*color: #fff;
  border-radius: 7px;
  text-align: center;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  background: rgba(0,0,0,0.3);*/
  color: #ffffff; 
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-weight: bold;
  background: linear-gradient(90deg, #5C258D, #4389A2 );

}
.title h2,h4{
  /*color: #fff;
  border-radius: 7px;
  text-align: center;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  background: rgba(0,0,0,0.3);*/
  color: #ffffff; 
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-weight: bold;

}
.title-card{color: #4388a2}
.banner{
  margin-top: -20;height: 120px;margin-bottom: 10;
  background-image: url(../img/topo.jpg);
  background-position: center;
  background-size: cover;
}

.sub-title{
  background: rgba(255,255,255,0.89);
  color: #808080;
  border-radius: 1px 1px 8px 8px;
  padding: 2px 10px;
}
input{
border-radius: 8px;
width: 100%;
}

.center{
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.fnt-white{
  color: white;
}
.word-wrap{
   word-wrap: break-word;
}
.min-w-30{
  min-width: 30%;
}
/***    left menu ****/

/***********************  SIDEBAR ********************/
/*.sidebar{ width:220px;  background-color: rgba(0,0,0,0.6);transition: all 0.5s  ease-in-out;}
.bg-defoult{background-color: transparent;}
.sidebar ul{ list-style:none; margin:0px; padding:0px; }
.sidebar li a,.sidebar li a.collapsed.active{ display:block; padding:10px 12px; color:#fff;border-left:0px solid #dedede;  text-decoration:none}
.sidebar li a.active{background-color:#000;border-left:5px solid #dedede; transition: all 0.5s  ease-in-out}
.sidebar li a:hover{background-color:#000 !important;}
.sidebar li a i{ padding-right:5px;}
.sidebar li a .nav-label,.sidebar li a .nav-label+span{ transition: all 0.5s  ease-in-out}
    
.sidebar.fliph li a .nav-label,.sidebar.fliph li a .nav-label+span{ display:none;transition: all 0.5s  ease-in-out}
.sidebar.fliph {width: 42px;transition: all 0.5s  ease-in-out;}
    
.sidebar.fliph li{ position:relative}
*/
.sidebar li a .nav-label,.sidebar li a .nav-label+span{ display:none;transition: all 0.5s  ease-in-out}
.sidebar {width: 42px;transition: all 0.5s  ease-in-out;}
.sidebar{background-color: rgba(0,0,0,0.6);width: 42px;transition: all 0.5s  ease-in-out;}
.bg-defoult{background-color: transparent;}

.sidebar:hover{ width:220px;  background-color: rgba(0,0,0,0.6);transition: all 0.5s  ease-in-out;}

.sidebar ul{ list-style:none; margin:0px; padding:25px 0px;}
.sidebar li a,.sidebar li a.collapsed.active{ display:block; padding:10px 12px; color:#fff;border-left:0px solid #dedede;  text-decoration:none}
.sidebar li a:hover{background-color:#000;border-left:5px solid #dedede; transition: all 0.5s  ease-in-out}
.sidebar:hover li a,.sidebar:hover li a i{display:flex;padding-right: 10px;}
.sidebar:hover li a .nav-label,.sidebar li a .nav-label+span{display: block; transition: all 0.5s  ease-in-out}

.menu-lateral{display: flex;flex-direction: row;position: fixed;left: 0px;}
    
.menu-controls{
        width: 15px;
        left: 40px;
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        }

.fa{color: #fff;}

#btn-left{display: none;}
.active{display: block;}

.menu-controls:hover {cursor: pointer;border-left: 2px solid #fff;}
/***********************  SIDEBAR ********************/


/***********************  MEUS GRUPOS do INDEX  ********************/

.index-meus-grupos{
	margin-top: 0px;
	height: 180px;
}

.col-md-4{
  display: inline-block;
  margin-left:-10px;
}
.col-md-4 img{
  width:100%;
  height:auto;
}
  
body .carousel-control-prev-icon,
body .carousel-control-next-icon{
  background-color:#000;
  border-radius: 55px;
  width: 15px;
}

.card-destaque{
  width: 100%;
  height: 65vh;
  background: #fff;
  margin:2px;
  margin-bottom: 10px;
}
.card-destaque img{
  height: 45vh;
  position: center;
  size: cover;
} 
.card-group{
  max-height: 145px;
  overflow: hidden;
}
.card-height{min-height: 201px;}
             
 /***********************  MEUS GRUPOS do INDEX  ********************/

/***********************  GRUPOS  ********************/
.sub-title p{
  margin: 0px;
  padding: 0px;
  font-size: 10px;
}
.info-num{
  border:1px solid #fff;
  border-radius: 8px;
}
.container-comentario{
  margin: 10px;
  border:1px solid #fff;
  border-radius: 2px;
  position: relative;
}
.container-group{
  background: rgba(255,255,255,0.89);
  border-radius: 2px;
  padding: 5px;
}
.container-group textarea{
  border:1px solid #808080;
  width: 100%;
  border-radius: 4px;
  min-height: 40px;
}
.icon-notify{
  font-weight: bold;
  margin-top: 2px;
}
.icon-size-15{
  font-size: 35px;
}

.img-perfil-post img{
 width: 50%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  border-radius: 7px;
}
.btn-pesquisa-grupo{height: 30px;}
.btn-novo-grupo{color: #4f4b93;background-color: white;}
.card-size{
  height: 145px;
  width:243px; 
  overflow: hidden !important;
}
.card-size i{color: white}
.card-size .footer-card{
  bottom: 0;
  position: absolute;
  background: rgba(67, 136, 162,0.7);
  width: 100%;
 }
 .footer-card p {
  font-weight: bold;
  margin-right: 15px;
  color: white;
 }
/***********************  GRUPOS ********************/

/***********************  PLANOS DE ESTUDO ********************/
#tblPlano .header, .header:hover{background: linear-gradient(90deg, #5C258D, #4389A2 );color:white;}
#tblPlano tr th{border-bottom: :1px solid #000; text-align: center;}
#tblPlano tbody tr:hover th:first-child{background: linear-gradient(90deg, #5C258D, #4389A2 );}
#tblPlano tbody tr:hover th{background-color: #f2f2f2;color:white;}
#tblPlano tbody th:hover{border-right: 1px solid ;border-left: 1px solid ; border-color: rgba(106,90,205,0.2);}
#tblPlano a{text-decoration: none;color: #000}
#tblPlano a:hover{text-decoration: none;color: gray;font-weight: bold;}
#tblPlano .btn-remover a i{font-weight: bold;color: gray;font-size: 9px;}
#tblPlano .btn-remover a:hover i{color: red; }
/***********************  PLANOS DE ESTUDO ********************/

/***********************  LOGIN ********************/
.container-login{padding-bottom: 100px; height:100vh;width: 100vw;background: linear-gradient(0deg, rgb(212, 198, 239) 0%, rgb(244, 244, 244) 21.3196%);}
.nav-login{color: #ffffff; background-color: #c8a4ff; background-image: linear-gradient(90deg, #614385, #516395); background-repeat: repeat-x;}
.footer-login{
  position: fixed;
   left:0px;
   bottom:0px;
   width:100%;background-color: #ac7b7b; background: linear-gradient(90deg, #360033, #0b8793);}
.btn-entrar-login{background-color: #4e5b8b;}
.btn-inscrever-login{background-color: #82b952;}
#div-cadastro form fieldset input{text-align: center;
align-items: center}
#div-cadastro{max-width:400px;background: rgba(255,255,255,0.3);border-radius: 4px;padding: 20px; }
#div-cadastro #criar{margin-bottom: 20px;}
@media only screen and (max-width: 1024px) {
  #div-cadastro{
    padding: 5px;
    }
  .footer-login{
    font-size: 12px;
    position: initial;
  }
  .footer-login img{
    width: 25px;
    height: 25px;
  }
}
/***********************  LOGIN ********************/

/***********************  PERFIL ********************/
.header-perfil{
  height: 50vh; 
}
.img-perfil {
  width:20vw;
  height: 30vh;
}
.img-perfil img{
  width: 100%;
  border-radius: 44px;
  height: 100%;
  border:1px solid silver;
}
.content-perfil{
  background-color: rgba(255,255,255,0.89);
  height: 500px;
  width: 400px;
  color: black;
  border-radius: 5px;
  box-shadow: 0px 14px 80px -2px rgba(0,0,0,0.52);
  padding: 25px;
}
.content-perfil:hover{cursor: pointer;}

.body-perfil{
  height: 100vh;
}

.text-perfil{
  width: 100%;
  text-align:center;
}
.text-perfil h3{
  margin-bottom: 0;
  color: gray;
  font-weight: bold;
  border-bottom: 1px double silver;
}
.text-perfil small{
  margin-top: 2px;
  color: gray;
}
.text-perfil p{
 margin-top: 50px;
}

.centralizado{
  justify-content: center;
  align-items: center;
  display: flex;
}
.topo-perfil-logo{
  top:0;
  position: absolute;
}
@media only screen and (max-width: 1024px) {
  .img-perfil {
    width:250px;
    height: 180px;
  }
}
/***********************  PERFIL ********************/

