
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700');

body{ font-size: 14px; color: #333; list-style: 26px;font-family: 'Roboto', sans-serif; 
background: url(../back1.jpg); background-position: center center; background-size: cover;
}

/** ======================  base css ==============================**/

a:hover{ text-decoration: none; }
.title{
	color: #fff;
	border-radius: 7px;
	text-align: center;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
	background: rgba(0,0,0,0.3);
}
.sub-title{
  background: rgba(255,255,255,0.89);
  color: #808080;
  border-radius: 1px 1px 8px 8px;
  padding: 2px 10px;
}
input{
border-radius: 8px;
}

.center{
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.fnt-white{
  color: white;
}
/***    left menu ****/

/***********************  SIDEBAR ********************/
/*.sidebar{ width:220px;  background-color: rgba(0,0,0,0.6);transition: all 0.5s  ease-in-out;}
.bg-defoult{background-color: transparent;}
.sidebar ul{ list-style:none; margin:0px; padding:0px; }
.sidebar li a,.sidebar li a.collapsed.active{ display:block; padding:10px 12px; color:#fff;border-left:0px solid #dedede;  text-decoration:none}
.sidebar li a.active{background-color:#000;border-left:5px solid #dedede; transition: all 0.5s  ease-in-out}
.sidebar li a:hover{background-color:#000 !important;}
.sidebar li a i{ padding-right:5px;}
.sidebar li a .nav-label,.sidebar li a .nav-label+span{ transition: all 0.5s  ease-in-out}
    
.sidebar.fliph li a .nav-label,.sidebar.fliph li a .nav-label+span{ display:none;transition: all 0.5s  ease-in-out}
.sidebar.fliph {width: 42px;transition: all 0.5s  ease-in-out;}
    
.sidebar.fliph li{ position:relative}
*/
.sidebar li a .nav-label,.sidebar li a .nav-label+span{ display:none;transition: all 0.5s  ease-in-out}
.sidebar {width: 42px;transition: all 0.5s  ease-in-out;}
.sidebar{background-color: rgba(0,0,0,0.6);width: 42px;transition: all 0.5s  ease-in-out;}
.bg-defoult{background-color: transparent;}

.sidebar:hover{ width:220px;  background-color: rgba(0,0,0,0.6);transition: all 0.5s  ease-in-out;}

.sidebar ul{ list-style:none; margin:0px; padding:25px 0px; }
.sidebar li a,.sidebar li a.collapsed.active{ display:block; padding:10px 12px; color:#fff;border-left:0px solid #dedede;  text-decoration:none}
.sidebar li a:hover{background-color:#000;border-left:5px solid #dedede; transition: all 0.5s  ease-in-out}
.sidebar:hover li a,.sidebar:hover li a i{display:flex;padding-right: 10px;}
.sidebar:hover li a .nav-label,.sidebar li a .nav-label+span{display: block; transition: all 0.5s  ease-in-out}

.menu-lateral{display: flex;flex-direction: row;position: fixed;left: 0px;}
    
.menu-controls{
        width: 15px;
        left: 40px;
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        }

.fa{color: #fff;}

#btn-left{display: none;}
.active{display: block;}

.menu-controls:hover {cursor: pointer;border-left: 2px solid #fff;}
/***********************  SIDEBAR ********************/


/***********************  MEUS GRUPOS do INDEX  ********************/

.index-meus-grupos{
	margin-top: 0px;
	height: 180px;
}

.col-md-4{
  display: inline-block;
  margin-left:-10px;
}
.col-md-4 img{
  width:100%;
  height:auto;
}
  
body .carousel-control-prev-icon,
body .carousel-control-next-icon{
  background-color:#000;
}

.card-novidade{
  width: 100vw;
  height: 50vh;
  background: #fff;
  margin: 5px;
}
.card-destaque{
  width: 100vw;
  height: 28vh;
  background: #fff;
  margin:2px;
}
/***********************  MEUS GRUPOS do INDEX  ********************/

/***********************  GRUPOS  ********************/
.sub-title p{
  margin: 0px;
  padding: 0px;
  font-size: 10px;
}
.info-num{
  border:1px solid #fff;
  border-radius: 8px;
}
.container-comentario{
  margin: 10px;
  border:1px solid #fff;
  border-radius: 2px;
}
.container-group{
  background: rgba(255,255,255,0.89);
  border-radius: 2px;
  padding: 5px;
}
.container-group textarea{
  border:1px solid #808080;
  width: 100%;
  border-radius: 4px;
  min-height: 40px;
}
.icon-notify{
  font-weight: bold;
  margin-top: 2px;
}
.icon-size-15{
  font-size: 35px;
}
/***********************  GRUPOS ********************/

/***********************  PLANOS DE ESTUDO ********************/
#tblPlano tr{border:1px solid #000; text-align: center;}
#tblPlano tr th{border:1px solid #000;}
#tblPlano tr:hover th,.header{background-color: rgba(0,0,0,0.6);color:white;border:1px solid #000;}
/***********************  PLANOS DE ESTUDO ********************/
