<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>Tela de login</title>
        <link href="C:\Users\Natan\Documents\GitHub\Cerebro\resources\css/bootstrap.css" rel="stylesheet">
        <link href="C:\Users\Natan\Documents\GitHub\Cerebro\resources\views\style.css" rel="stylesheet">
    </head>
    <body style="background-color: #dcd2f0;">
        <nav class="navbar navbar-expand-lg navbar-light bg-warning" style="color: #ffffff; background-color: #c8a4ff; background-image: linear-gradient(90deg, #614385, #516395); background-repeat: repeat-x;"> 
            <button class="navbar-toggler border border-light" type="button" data-toggle="collapse" data-target="#navbarToggler214" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation"> 
                <span class="navbar-toggler-icon"></span> 
            </button>
            <div class="collapse navbar-collapse mr-sm-5 ml-sm-5 pr-sm-5 pl-sm-5" id="navbarToggler214">
                <img src="logo.png" class="ml-5"> 
                <ul class="navbar-nav mt-2 mt-lg-0 col-3 ml-5 mr-auto pr-5 pl-5"> 
</ul>
                <div class="form-group mr-3 "> 
                    <label for="formInput261">Email</label>                     
                    <input type="text" class="form-control mr-3 " id="formInput261" placeholder="Digite seu email..."> 
                </div>
                <div class="form-group mr-3"> 
                    <label for="formInput322">Senha</label>                     
                    <input type="password" class="form-control" id="formInput322" placeholder="Digite sua senha..."> 
                </div>
                <button class="btn mt-3 mr-5 border border-light text-white font-weight-bold" type="button" style="background-color: #4e5b8b;">Entrar</button>
            </div>             
        </nav>
        <div class="container">
</div>
        <div class="row h-100 w-100 ml-0" style="background-image: linear-gradient(0deg, rgb(212, 198, 239) 0%, rgb(244, 244, 244) 21.3196%);">
            <div class="order-sm-3 col-md-4 offset-sm-7 mt-5 mb-3">
                <form class="form-horizontal">
                    <fieldset>
                        <legend class="font-weight-bold mb-4">Crie sua conta gratuita</legend>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="nome">Nome Completo</label>                             
                            <div class="col-lg-8">
                                <input id="nome" name="nome" type="text" placeholder="Digite seu nome completo..." class="form-control input-md" required="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="email">Email</label>                             
                            <div class="col-lg-8">
                                <input id="email" name="email" type="text" placeholder="Digite seu E-mail..." class="form-control input-md " required="" checked="checked">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="senha">Senha</label>
                            <div class="col-lg-8">
                                <input id="senha" name="senha" type="password" placeholder="Escolha uma senha..." class="form-control input-md" required="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="Sexo">Sexo</label>
                            <div class="col-lg"> 
                                <label class="radio-inline mr-5" for="Sexo-0">
                                    <input type="radio" name="Sexo" id="Sexo-0" value="Masculino" checked="checked">
                                    Masculino
                                </label>                                 
                                <label class="radio-inline" for="Sexo-1">
                                    <input type="radio" name="Sexo" id="Sexo-1" value="Feminino">
                                    Feminino
                                </label>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-md-4 control-label" for="criar"></label>
                            <div class="col-md-4">
                                <button id="criar" name="criar" class="btn btn-primary border-light font-weight-bold" style="background-color: #82b952;">Inscrever-se</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="row w-100 mw-100 h-100 mh-100 ml-0" style="background-color: #ac7b7b; background: linear-gradient(90deg, #360033, #0b8793);">
            <div class="ml-5 col-lg-4">
                <img src="estudo.png" height="45" width="45" alt="Estude em casa" class="mt-3 mb-3 float-left mr-2 ml-3">
                <h6 class="text-white mt-4">Estude fácimente do conforto de sua casa.</h6> 
            </div>
            <div class="ml-5 col-lg-3 mr-5">
                <img height="45" width="45" class="mt-3 mb-3 float-left mr-2 ml-3" src="grupoo.png">
                <h6 class="text-white mt-4">Entre em grupos do seu interesse.</h6> 
            </div>
            <div class="ml-5 col-lg-3">
                <img height="45" width="45" class="mt-3 mb-3 float-left mr-2 ml-3" src="arquivooo.png">
                <h6 class="text-white mt-4">Compartilhe arquivos e interaja.</h6> 
            </div>
        </div>
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/popper.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>
